body {
	background-color: #EBFFF6;
	font-family: Verdana, sans-serif;
}

header {
	padding: .5em;
	grid-area: header;
	background-color: #D7EFC2;
}

nav {
	padding: .2em;
	background-color: #D6EDF0;
	grid-area: nav;
}

main {
	grid-area: main;
}

footer {
	padding: .5em;
	grid-area: footer;
	background-color: #D7EFC2;
}

#iuindy {
	max-width: 100%;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.wideiframe {
	width: 100%;
}

/*video styling taken from iframe example*/
#kalturavidcontainer {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;   /* 16:9 Aspect Ratio */
}

#kalturavid {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

/*page formatting with no aside--use oneasidelayout file to format with aside*/

.grid-container {
	display: grid;
	grid-template-areas:
		'header header header header'
		'nav main main main'
		'nav main main main'
		'footer footer footer footer';
	grid-gap: 1em;
	max-width: 70em;
	margin: auto;
}


ul li {
	list-style-type: none;
}


/*FIRST BREAK POINT === tablet */
@media only screen and (max-width : 800px) {

	.grid-container {
		display: grid;
		grid-template-areas:
			'nav nav nav nav'
			'header header header header'
			'main main main main'
			'footer footer footer footer';
		grid-gap: .5em;
	}

	ul li {
		display: inline-block;
	}

}

/*SECOND BREAK POINT === mobile */
@media only screen and (max-width : 600px) {

	.grid-container {
		display: grid;
		grid-template-areas:
			'nav nav nav nav nav nav'
			'header header header header header header'
			'main main main main main main'
			'footer footer footer footer footer footer';
		grid-gap: .5em;
	}

	ul li {
		display: inline-block;
	}

}
